<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Maths.mathematicalreasoning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GlobalRanking"/>
        <!--
         android:debuggable="true"
          tools:ignore="HardcodedDebugMode"
        -->
        <receiver
            android:name=".Restarter"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashBoard"
            android:launchMode="singleTop" />
        <activity android:name=".Game_Screen" />
        <activity
            android:name=".Levels_Screen"
            android:launchMode="singleTop" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ContactUs" />
        <activity android:name=".help" />
        <activity
            android:name=".CustomLogin"
            android:windowSoftInputMode="adjustNothing" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <service
            android:name=".ScheduleNotification"
            android:enabled="true" />

        <receiver
            android:name=".SleepingNotify"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.google.android.gcm.demo.app" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SyncService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>